<!DOCTYPE html>
{% load static %}
<html lang="en">

 <head>

    <meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=400">
<meta name="viewport" content="height=device-height">
<meta name="viewport" content="user-scalable=yes">
   <meta charset="utf-8" />


   <link rel="stylesheet" href="{% static 'home/css/style.css' %}" />

   <script src="{% static 'home/css/script.js' %}" defer></script>
<title>Space English</title>
           <link rel="shortcut icon" href="https://cdn.glitch.global/d76dc213-b554-42be-b1e3-6060b8c0897c/Group%205.png?v=1652178504736"/favicon1.ico">

 </head>

 <body style="margin: 0px;">
   

   <section class="color">

   <div class="main">

     <div class="b">

       <a href="https://rocky-quill-naranja.glitch.me"><img src="https://cdn.glitch.global/28cb0710-212f-4ced-a96e-c9d44f2adc7e/thumbnails%2F0b9c4b43-5532-4f36-84a0-e429fe70fd8d.image.png?1651304837780" alt=""></a>

</div>

   </div>

  <nav class="nav">

     <a href="https://pricey-almondine-windflower.glitch.me" class="film">Фильмы и Мультфильмы</a>  

     <a href="https://stone-sheer-enthusiasm.glitch.me" class="tails">Истории и<br> сказки</a>  

     <a href="https://sage-encouraging-psychiatrist.glitch.me" class="listen">Аудирование</a> 

<div class="dera">
       <a href=" https://t.me/MegaSpaceEnglish"><img class="telegrams" src="https://cdn.glitch.global/28cb0710-212f-4ced-a96e-c9d44f2adc7e/b4709766-d4b1-49f5-8796-62f4fa8c0f1a.image.png?v=1651351276508"></a>
     <a href="  https://www.instagram.com/my_englishspace/"><img class="insta" src="https://cdn.glitch.global/d76dc213-b554-42be-b1e3-6060b8c0897c/instagram_f_icon-icons.com_65485.png?v=1652181404290"></a>
     <a href=" https://www.tiktok.com/@space.english"><img class="tiktoks" src="https://cdn.glitch.global/28cb0710-212f-4ced-a96e-c9d44f2adc7e/925dc06b-992e-48d8-812d-e02ea332a88b.image.png?v=1651353783226"></a>
     </div>
   <a href="{% url 'account_login' %}"><img class="clean" src="https://cdn.glitch.global/28cb0710-212f-4ced-a96e-c9d44f2adc7e/27dc8d5a-8d6b-4e85-a624-6998c7c93894.image.png?v=1651355047592"></a>

   </nav>
     
   <div class="some">
  <h2 class="do">
   Space
  </h2>
  <p class="make">
    Изучай английский прямо сейчас! <br>Увлекательные задания для<br> эффективного обучения. 
  </p>
     </div>

     <div class="c">

 <img class="claim" src="https://cdn.glitch.global/28cb0710-212f-4ced-a96e-c9d44f2adc7e/e4654cad-1acb-4eb6-a666-8ffd0f72e500.image.png?v=1651325065670" style="display: block;
" alt="">

</div>
   <div class="asi">
     <div class="isa">
      <img class="motor" src="https://cdn.glitch.global/28cb0710-212f-4ced-a96e-c9d44f2adc7e/icons8-%D0%B4%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B9-96%201.png?v=1651836614793">
       <img class="coming" src="https://cdn.glitch.global/28cb0710-212f-4ced-a96e-c9d44f2adc7e/icons8-%D1%87%D0%B0%D1%82-96%201.png?v=1651836161227">
         <img class="money" src="https://cdn.glitch.global/28cb0710-212f-4ced-a96e-c9d44f2adc7e/icons8-%D1%80%D0%B0%D0%B7%D0%B1%D0%BB%D0%BE%D0%BA%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D1%82%D1%8C-96%201.png?v=1651836209152">
       <img class="seem" src="https://cdn.glitch.global/28cb0710-212f-4ced-a96e-c9d44f2adc7e/icons8-%D0%B0%D1%83%D0%B4%D0%B8%D0%BE%D0%BA%D0%BD%D0%B8%D0%B3%D0%B0-96%201.png?v=1651836241571">
   <img class="drop" src="https://cdn.glitch.global/28cb0710-212f-4ced-a96e-c9d44f2adc7e/icons8-%D1%87%D1%82%D0%B5%D0%BD%D0%B8%D0%B5-96%201.png?v=1651836273395">
     </div>
     <div>
       <h4 class="water">
         Видео-уроки без <br>воды
       </h4>
       <h4 class="free">
         Бесплатный доступ
       </h4>
              <h4 class="communication">
         Общение с людьми на английском языке
       </h4>
       <h4 class="learning">
         Обучение по известным фильмам и мультфильмам
       </h4>
          <h4 class="audio">
       Задания на аудирование
       </h4>
     </div>
   </div>
   
   <section class="end">
     <div class="endimg">
       <img class="imgend" src="https://cdn.glitch.global/28cb0710-212f-4ced-a96e-c9d44f2adc7e/67706fac-1509-4b52-83e0-6f70076df021.image.png?v=1651350125206">
     </div>
     <div class="thing">
       <div class="level">
         Не знаешь свой уровень и не понимаешь с чего начать? Узнай уровень прямо сейчас!
       </div>
       <div class="rectangle">
         <div class="find">
           Узнать Уровень
         </div>
       </div>
     </div>
   </section>
   
   <!--footer-->
   <div class="footer">
     <div class="foter">
       <a href=" https://t.me/MegaSpaceEnglish"><img class="telegram" src="https://cdn.glitch.global/28cb0710-212f-4ced-a96e-c9d44f2adc7e/b4709766-d4b1-49f5-8796-62f4fa8c0f1a.image.png?v=1651351276508"></a>
     <a href="  https://www.instagram.com/my_englishspace/"><img class="instas" src="https://cdn.glitch.global/d76dc213-b554-42be-b1e3-6060b8c0897c/instagram_f_icon-icons.com_65485.png?v=1652181404290"></a>
     <a href=" https://www.tiktok.com/@space.english"><img class="tiktok" src="https://cdn.glitch.global/28cb0710-212f-4ced-a96e-c9d44f2adc7e/925dc06b-992e-48d8-812d-e02ea332a88b.image.png?v=1651353783226"></a>
     </div>
     <div class="mind">
       <h3 class="luy">
         @ 2022
       </h3>
        <h3 class="luyo">
          SPACE
       <!--footer-->
       </h3>
     </div>
   </div>
   </section>
  </body>

</html>

